<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activate User!!</title>
    <style>
        body {
            font: 24px Arial, sans-serif;
            background-color: LightGray;
            text-align:center
        }
    </style>
    <!-- Useful script to redirect after loading
    <script>
       setTimeout(function(){
            window.location.href = 'redirect_url';
         }, 5000);
   </script>
    -->

</head>
<body>
{% block body %}
<h2>Message from AutoCount:</h2>
<p>{{message}}</p>
{% endblock %}
</body>
</html>




