
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
    <TABLE style=" width:100%; border-top: 1px solid black;border-collapse: collapse;border-bottom: 1px solid black;border-left: 1px solid black;border-right: 1px solid black" cellpadding="4px">
      <TR >
       <TD>{{company_name}}</TD>
       <TD></TD>
       <TD></TD>
      </TR>
      <TR>
       <TD>{{address}}</TD>
       <TD></TD>
       <TD></TD>
      </TR>
      <TR>
       <TD>{{city}}</TD>
       <TD></TD>
       <TD></TD>
      </TR>
      <TR>
       <TD>{{gst_in}}</TD>
       <TD></TD>
       <TD style="text-align: right;">{{credit_note}}</TD>
      </TR>
     </TABLE>
    </body>
</html>








<!-- <TABLE  style="border: 1px solid #000000; border-collapse: collapse;width: 100%;" cellpadding="4">
    <TR>
      <TH style="text-align: left;width: 70%;"></TH>
      <TH style="border-left: 1px solid;width: 15%;"></TH> 
      <TH style="border-left: 1px solid;width: 15%;"></TH> 
     </TR>
     <TR>
      <TD></TD>
      <TD style="border-left: 1px solid;">Sub Total</TD>
      <TD >{{sub_total}}</TD>
     </TR>
    
     <TR>         
      <TD> Total In Words</TD>           
       <TD style="border-left: 1px solid;">Discount</TD> 
      <TD >{{discount}}</TD>
     </TR>
     
     <TR>
      <TD> {{total_in_words}}</TD>
      <TD style="border-left: 1px solid;"></TD>
      {% if cgst_0 > 0 %}
      <TD >{{cgst_0}}</TD>
      
     </TR>
     <TR>
      <TD></TD>
      <TD style="border-left: 1px solid;">Item&Description</TD>
      <TD >{{itemdescriptin}}</TD>
     </TR>
     <TR>
      <TD>Customer Note</TD>
      <TD style="border-left: 1px solid;">SGST0 (0%)</TD>
      {% elif sgst0_0 %}
      <TD >{{sgst0_0}}</TD>
      {% endif %}
     </TR>
     <TR>
      <TD></TD>
      <TD style="border-left: 1px solid;">CGST2.5 (2.5%)</TD>
      <TD >{{cgst25_25}}</TD>
     </TR>
     <TR>
      <TD></TD>
      <TD style="border-left: 1px solid;">SGST2.5 (2.5%)
      </TD>
      <TD >{{sgst25_25}}</TD>
     </TR>
     <TR>
      <TD></TD>
      <TD style="border-left: 1px solid;">CGST6 (6%)</TD>
      <TD >{{cgst6_6}}</TD>
     </TR>
     <TR>
      <TD></TD>
      <TD style="border-left: 1px solid;">SGST6 (6%)</TD>
      <TD >{{sgst6_6}}</TD>
     </TR>
     <TR>
      <TD></TD>
      <TD style="border-left: 1px solid;">CGST9 (9%)</TD>
      <TD >{{cgst9_9}}</TD>
     </TR>
     <TR>
      <TD></TD>
      <TD style="border-left: 1px solid;">SGST9 (9%) </TD>
      <TD >{{sgst9_9}}</TD>
     </TR>
     <TR>
      <TD></TD>
      <TD style="border-left: 1px solid;">Shipping charge 	</TD>
      <TD >{{shipping_charges}}</TD>
     </TR>
     <TR>
      <TD></TD>
      <TD style="border-left: 1px solid;">Total</TD>
      <TD >{{total}}</TD>
     </TR>
     <TR>
      <TD></TD>
      <TD style="border-left: 1px solid;border-bottom: 1px solid;">Credits Remaining	</TD>
      <TD style="border-bottom: 1px solid;">{{credit_remaining}}</TD>
     </TR>
     <T>
      <TR>
        <TD></TD>
        <TD style="border-left: 1px solid;">	</TD>
       </TR>
       <TR>
        <TD></TD>
        <TD style="border-left: 1px solid;">	</TD>
       </TR>
       <TR>
        <TD></TD>
        <TD style="border-left: 1px solid;">	</TD>
       </TR>
       <TR>
        <TD></TD>
        <TD style="border-left: 1px solid;">	</TD>
       </TR>
       <TR>
        <TD></TD>
        <TD style="border-left: 1px solid;">	</TD>
       </TR>
       <T>
        <TR>
          <TD></TD>
          <TD style="border-left: 1px solid;">	</TD>
         </TR>
         <T>
          <TR>
            <TD></TD>
            <TD style="border-left: 1px solid;border-bottom: 1px solid; text-align: center;">Authorized Signature	</TD>
           </TR>
           <T>
    </TABLE>
</body>
</html> -->