
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CREDIT NOTE</title>
</head>
<body>
    <TABLE style=" width: 100%; border-top: 1px solid black;border-collapse: collapse;border-bottom: 1px solid black;border-left: 1px solid black;border-right: 1px solid black" cellpadding="4px">
        <TR>
         <TH style="width:25%; "></TH>
         <TH style="width:25%" ></TH>
         <TH style="width:25%"></TH>
         <TH style="width:25%"></TH>
        </TR>
        <TR>
         <TD >Cn serial</TD>
         <TD style="border-right: 1px solid">:&nbsp;&nbsp;&nbsp;&nbsp;{{cn_serial}}</TD>
         <TD >Place Of Supply</TD>
         <TD >:&nbsp;&nbsp;&nbsp;&nbsp;{{place_of_supply}}</TD>
         
        </TR>
        <TR>
         <TD >Credit Date</TD>
         <TD style="border-right: 1px solid" >:&nbsp;&nbsp;&nbsp;&nbsp;{{credit_date}}</TD>
         <TD></TD>
         <TD ></TD>         
        </TR>
        <TR>
         <TD >Invoice serial</TD>
         <TD style="border-right: 1px solid">:&nbsp;&nbsp;&nbsp;&nbsp;{{invoice_serial}}</TD>
         <TD></TD>
         <TD ></TD>
         
        </TR>
        <TR>
         <TD >Invoice Date</TD> 
         <TD style="border-right: 1px solid">:&nbsp;&nbsp;&nbsp;&nbsp;{{invoice_date}} </TD>
         <TD></TD>
         <TD ></TD>
        </TR>
       </TABLE>
    </body>
</html>